body {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-setup,
.game-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setup-form {
	width: 90%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 1rem;
}

.form-field {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-label {
	width: 100%;
	margin-bottom: 12px;
}

.form-input {
	width: 94%;
	padding: 20px 12px;

	border: 1px solid transparent;
	border-radius: 18px;
	background-color: whitesmoke;
}

.form-input:focus {
	outline: none;
	border: 1px solid #c9c7c7;
}

.btn-primary {
	width: 50%;
	align-self: center;
	padding: 16px;
	border: none;
	border-bottom: 1px solid #c9c7c7;
	background: transparent;

	transition: all 0.4s ease-in;
	cursor: pointer;
}

.btn-primary:hover {
	border-radius: 30px;
	background: #000;
	color: #fff;
}

.game-board {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#game-status {
	font-size: 1.2rem;
	padding: 12px;
}

.board-grid {
	width: 90%;
	max-width: 500px;
	height: 500px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 12px;
	margin-bottom: 1.2rem;
}

.cell-btn {
	border-radius: 20px;
	border: none;
}

.board-controls {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.btn-secondary {
	width: 40%;
	padding: 16px;
	border: none;
	background: #000;
	border-radius: 9px;
	color: #fff;

	transition: all 0.3s ease-in;
	cursor: pointer;
}

.btn-secondary:hover {
	border-radius: 30px;
	background: #c9c7c7;
	color: #000;
}
