@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Nunito:wght@200..1000&family=Rubik+Distressed&display=swap");

:root {
	--font-anchor: "Inria Serif", Tahoma, Geneva, Verdana, sans-serif;
	--font-regular-text: "Nunito", "Segoe UI", Tahoma, Verdana, sans-serif;
	--font-mark: "Rubik Distressed", "Segoe UI", Tahoma, Verdana, sans-serif;

	--font-size-sm: 0.8rem;
	--font-size-base: 1.1rem;
	--font-size-lg: 3.4rem;

	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 800;

	--border-radius-lg: 18px;
	--border-radius-xl: 20px;

	--padding-md: 1rem;
	--padding-sm: 0.5rem;

	--max-width-container: 800px;
	--max-width-board: 500px;

	--transition-base: all 0.3s ease-in;

	--color-primary: #ffffff;
	--color-text: #000000;
	--color-text-light: #807f7f;
	--color-secondary: #cbcbcb;

	--shadow-light: inset 0px 0px 10px rgba(255, 255, 255, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100dvw;
	height: 100dvh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.game-setup {
	width: 100%;
	max-width: var(--max-width-container);

	display: flex;
	flex-wrap: wrap;
	gap: 1.6rem;
	justify-content: center;
}

.btn-primary {
	width: 90%;
	padding: var(--padding-md);

	box-shadow: var(--shadow-light);
	border: none;
	border-radius: 2px;

	transition: var(--transition-base);
	cursor: pointer;

	color: var(--color-text);
	font-family: var(--font-regular-text);
	font-size: var(--font-size-base);
}

.btn-primary:hover {
	background: var(--color-text);
	color: var(--color-primary);
	border-radius: var(--border-radius-xl);
}

.game-board {
	width: 100%;
	max-width: var(--max-width-container);
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#game-status {
	font-size: var(--font-size-base);
	font-family: var(--font-regular-text);
	font-weight: var(--font-weight-semibold);
}

.board-grid {
	width: 90%;
	max-width: var(--max-width-board);
	height: 50%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: var(--padding-sm);
}

.cell-btn {
	border: 2px solid transparent;
	border-radius: var(--border-radius-xl);

	font-family: var(--font-mark);
	font-size: var(--font-size-lg);

	cursor: pointer;
}

.cell-btn:hover {
	box-shadow: var(--shadow-light);
}

.board-controls {
	width: 80%;
	max-width: var(--max-width-board);
	margin-top: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn-secondary {
	width: 45%;
	padding: var(--padding-md);

	background: var(--color-text);
	color: var(--color-primary);
	font-size: var(--font-size-sm);
	font-family: var(--font-regular-text);

	border: none;
	border-radius: 2px;
	transition: var(--transition-base);
	cursor: pointer;
}

.btn-secondary:hover {
	border-radius: var(--border-radius-lg);
}

.footer {
	width: 100%;
	padding: var(--padding-sm);

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	text-align: center;
	font-size: var(--font-size-base);
	font-family: var(--font-regular-text);
}

.footer-link {
	text-decoration: none;
	font-family: var(--font-anchor);
	color: var(--color-text-light);
	font-weight: var(--font-weight-bold);

	transition: var(--transition-base);
}

.footer-link:hover {
	color: var(--color-text);
}
